Import the necessary packages.

In [1]:
import pandas as pd

Read in the data.

In [68]:
df = pd.read_csv('../data/goodreads.csv')

View a sample of the data set.

In [69]:
df.sample(5)

,bookID,title,authors,average_rating,isbn,isbn13,language_code,# num_pages,ratings_count,text_reviews_count
3495,10846,Gatsby's Girl,Caroline Preston,3.53,618537252,9780618537259,en-US,312,841,120
8678,27826,Eugene Onegin,Alexander Pushkin-Walter W. Arndt,4.09,875011063,9780875011066,en-US,244,44,13
12461,42797,Goodbye Forever (Sweet Dreams #72),Barbara Conklin,3.72,055324356X,9780553243567,eng,135,54,0
5346,15981,A Garden of Earthly Delights (Wonderland Quart...,Joyce Carol Oates-Elaine Showalter,3.82,812968344,9780812968347,eng,406,1388,132
10664,34873,The Great And Secret Show (Book of the Art #1),Clive Barker,4.05,000617695X,9780006176954,eng,698,272,18

EDA

In [70]:
print(f'There are {len(df)} entries in this data set.')

There are 13719 entries in this data set.

Print the information of each feature (here I am looking for the type).

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13719 entries, 0 to 13718
Data columns (total 10 columns):
bookID                13719 non-null int64
title                 13719 non-null object
authors               13719 non-null object
average_rating        13719 non-null object
isbn                  13719 non-null object
isbn13                13719 non-null object
language_code         13719 non-null object
# num_pages           13719 non-null object
ratings_count         13719 non-null int64
text_reviews_count    13719 non-null int64
dtypes: int64(3), object(7)
memory usage: 1.0+ MB

I want to obtain the # of books with an average rating of > 4. 
Since average rating is a non-null object (see the next block for examples),
I am going to define a function that converts the 'number objects' to floats 
and the non-numeric objects to 'False'.

In [ ]:
# These are not numerics that can be typecasted 

#Unable to parse string " Jr.-Sam B. Warner" at position 4010
#Jr. Sam. Warner is in the position for average rating

#Unable to parse string " one of the founding members of this 
#.  Tolkien website)-Verlyn Flieger-Turgon (=David E. Smith)" at position 5685
#" one of the founding members of this #.  Tolkien website)-Verlyn Flieger-Turgon (=David E. Smith)" 
# is in the position for average rating

In [81]:
def drop_function(x):
    """Function takes a cell of the dataframe and either
       a. converts the numeric object to a float, or
       b. changes the string to False"""
    try:
        return float(x)
    except ValueError:
        return False

In [82]:
df['average_rating_number'] = df['average_rating'].apply(lambda x: drop_function(x));

In [83]:
df.sample(5)

,bookID,title,authors,average_rating,isbn,isbn13,language_code,# num_pages,ratings_count,text_reviews_count,average_rating_number
13180,45549,Undaunted Courage,Stephen E. Ambrose-Barrett Whitener,4.22,1415918090,9781415918098,eng,22,7,2,4.22
1527,4595,The Genome War: How Craig Venter Tried to Capt...,James Shreeve,3.81,345433742,9780345433749,eng,392,259,22,3.81
4461,13505,Tuf Voyaging,George R.R. Martin,4.09,1592220045,9781592220045,en-US,448,61,7,4.09
8940,28697,The War Of The Flowers,Tad Williams,3.87,1841491896,9781841491899,en-GB,758,224,24,3.87
6559,19617,What Life Was Like at the Rebirth of Genius: R...,Richard Stapleford-Time-Life Books,3.98,783554613,9780783554617,eng,168,40,3,3.98

In [84]:
print(f'This method dropped {13719 - len(df)} entries from the dataframe.')

This method dropped 0 entries from the dataframe.

In [85]:
above_four_stars = df[df['average_rating_number'] > 4]
print(f'There are {len(above_four_stars)} books with more than 4 stars.')

There are 5758 books with more than 4 stars.

In [86]:
above_four_stars.head()

,bookID,title,authors,average_rating,isbn,isbn13,language_code,# num_pages,ratings_count,text_reviews_count,average_rating_number
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling-Mary GrandPré,4.56,439785960,9780439785969,eng,652,1944099,26249,4.56
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling-Mary GrandPré,4.49,439358078,9780439358071,eng,870,1996446,27613,4.49
2,3,Harry Potter and the Sorcerer's Stone (Harry P...,J.K. Rowling-Mary GrandPré,4.47,439554934,9780439554930,eng,320,5629932,70390,4.47
3,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.41,439554896,9780439554893,eng,352,6267,272,4.41
4,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling-Mary GrandPré,4.55,043965548X,9780439655484,eng,435,2149872,33964,4.55

In [87]:
above_four_stars.tail()

,bookID,title,authors,average_rating,isbn,isbn13,language_code,# num_pages,ratings_count,text_reviews_count,average_rating_number
13710,47692,American Gods,Neil Gaiman,4.11,1594970998,9781594970993,spa,477,58,6,4.11
13711,47693,The Day I Swapped My Dad for Two Goldfish,Neil Gaiman-Dave McKean,4.03,60587016,9780060587017,en-US,64,8744,524,4.03
13713,47697,The Sandman: King of Dreams,Alisa Kwitney-Neil Gaiman,4.62,811835928,9780811835923,eng,180,12775,34,4.62
13717,47708,The Faeries' Oracle,Brian Froud-Jessica Macbeth,4.43,743201116,9780743201117,eng,224,1550,38,4.43
13718,47709,The World of The Dark Crystal,Brian Froud,4.29,1862056242,9781862056244,eng,132,3572,33,4.29

In [89]:
above_four_stars['average_rating_number'].mean()

4.201024661340758